@model Battle

@using SimpleRPG

@{
    ViewData["Title"] = "Index";
}
@section battle {
    <link href="~/css/battle.css" rel="stylesheet" type="text/css" />
}
<div id="main_container">
    <div id="flex_container">
        <div id="battle_stats">
            <h3>You are dead.</h3>
        </div>
        <div id="control_panel">
            <input id="attack" type="button" value="Attack!" />
        </div>
    </div>
</div>