@model Battle

@using SimpleRPG

@{
    ViewData["Title"] = "Index";
}
@section battle {
    <link href="~/css/battle.css" rel="stylesheet" type="text/css"/>
}

<div id="flex_container">
    <div id="battle_stats">
        <h3>You are dead.</h3>
    </div>
</div>